@page
@model SlavicMyths.Pages.Sections.IndexModel
@{
    ViewData["Title"] = "Разделы";
}
<h1>Разделы</h1>
<table class="table">
    <thead><tr><th>@Html.DisplayNameFor(model => model.Sections[0].Name)</th><th></th></tr></thead>
    <tbody>
        @foreach (var item in Model.Sections)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td><a asp-page="./Details" asp-route-id="@item.Id">Подробнее</a></td>
            </tr>
        }
    </tbody>
</table>